html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  background-color: #f5f7f9;
}
b {
  position: relative;
  display: block;
  margin: 0 auto;
  bottom: 8.25em;
  height: auto;
  width: 15em;
  font-family: 'Product Sans', helvetica neue, helvetica, sans-serif;
  line-height: 1em;
  font-size: 0.5em;
  font-weight: 400;
  color: #101112;
  opacity: 1;
}
b span {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 10em;
  height: 1.825em;
  line-height: 1.975em;
  text-transform: uppercase;
  font-size: 0.925em;
  letter-spacing: 0.0382em;
  color: #101112;
  opacity: 0.75;
  border: solid 1px;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.0);
  text-shadow: 0.25px 0px 0, 0px 0.25px 0;
  transition: all 0.5s ease-in;
}
b span:hover {
  color: rgba(255, 0, 55, 0.7);
  background-color: rgba(255, 0, 115, 0.1);
  border: solid 1px rgba(255, 0, 55, 1);
}
h1 {
  font-family: 'Product Sans', helvetica neue, helvetica, sans-serif;
  position: absolute;
  height: 1em;
  width: 100%;
  left: 0.005em;
  top: 7.85vh;
  line-height: 1.666em;
  font-size: 10.85vh;
  font-weight: 900;
  letter-spacing: 0.0225em;
  opacity: 0.85;
  TRANSFORM: scale(1);
}
h1 span {
  position: relative;
  display: inline-block;
}
h1:after {
  content: "2";
  display: inline-block;
  position: relative;
  bottom: 1.4em;
  left: 0.1em;
  font-size: 4vh;
  font-weight: 900;
  letter-spacing: -1em;
  opacity: 0;
  animation: superscript 1.6s cubic-bezier(0.25, 0, 0.2, 1) forwards;
  animation-delay: 500ms;
}
.DNA_cont {
  display: inline-block;
  position: relative;
  transform: scale(0.45);
}
.nucleobase {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.nucleobase:not(:last-child) {
  margin-right: 4.86vh;
}
.nucleobase:before, .nucleobase:after {
  content: "";
  display: inline-block;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  position: absolute;
}
.nucleobase:nth-child(1) {
  animation-delay: -1.869s;
}
.nucleobase:nth-child(1):before {
  animation: animBefore 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -1.869s;
  background-color: #ff8490;
}
.nucleobase:nth-child(1):after {
  animation: animAfter 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -1.869s;
  background-color: #ff737c;
}
.nucleobase:nth-child(2) {
  animation-delay: -3.738s;
}
.nucleobase:nth-child(2):before {
  animation: animBefore 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -3.738s;
  background-color: #ff8490;
}
.nucleobase:nth-child(2):after {
  animation: animAfter 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -3.738s;
  background-color: #ff737c;
}
.nucleobase:nth-child(3) {
  animation-delay: -5.607s;
}
.nucleobase:nth-child(3):before {
  animation: animBefore 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -5.607s;
  background-color: #ff8490;
}
.nucleobase:nth-child(3):after {
  animation: animAfter 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -5.607s;
  background-color: #ff737c;
}
.nucleobase:nth-child(4) {
  animation-delay: -7.476s;
}
.nucleobase:nth-child(4):before {
  animation: animBefore 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -7.476s;
  background-color: #ff8490;
}
.nucleobase:nth-child(4):after {
  animation: animAfter 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -7.476s;
  background-color: #ff737c;
}
.nucleobase:nth-child(5) {
  animation-delay: -9.345s;
}
.nucleobase:nth-child(5):before {
  animation: animBefore 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -9.345s;
  background-color: #ff8490;
}
.nucleobase:nth-child(5):after {
  animation: animAfter 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -9.345s;
  background-color: #ff737c;
}
.nucleobase:nth-child(6) {
  animation-delay: -11.214s;
}
.nucleobase:nth-child(6):before {
  animation: animBefore 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -11.214s;
  background-color: #ff8490;
}
.nucleobase:nth-child(6):after {
  animation: animAfter 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -11.214s;
  background-color: #ff737c;
}
.nucleobase:nth-child(7) {
  animation-delay: -13.083s;
}
.nucleobase:nth-child(7):before {
  animation: animBefore 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -13.083s;
  background-color: #ff8490;
}
.nucleobase:nth-child(7):after {
  animation: animAfter 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -13.083s;
  background-color: #ff737c;
}
.nucleobase:nth-child(8) {
  animation-delay: -14.952s;
}
.nucleobase:nth-child(8):before {
  animation: animBefore 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -14.952s;
  background-color: #ff8490;
}
.nucleobase:nth-child(8):after {
  animation: animAfter 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -14.952s;
  background-color: #ff737c;
}
.nucleobase:nth-child(9) {
  animation-delay: -16.821s;
}
.nucleobase:nth-child(9):before {
  animation: animBefore 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -16.821s;
  background-color: #ff8490;
}
.nucleobase:nth-child(9):after {
  animation: animAfter 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -16.821s;
  background-color: #ff737c;
}
.nucleobase:nth-child(10) {
  animation-delay: -18.69s;
}
.nucleobase:nth-child(10):before {
  animation: animBefore 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -18.69s;
  background-color: #ff8490;
}
.nucleobase:nth-child(10):after {
  animation: animAfter 2.1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: -18.69s;
  background-color: #ff737c;
}
@keyframes animBefore {
  0% {
    top: -6vh;
    z-index: 1;
  }
  25% {
    transform: scale(1.2);
    z-index: 1;
  }
  50% {
    top: 6vh;
    z-index: -1;
  }
  75% {
    background-color: #ffdab2;
    transform: scale(0.8);
    z-index: -1;
  }
  100% {
    top: -6vh;
    z-index: -1;
  }
}
@keyframes animAfter {
  0% {
    top: 6vh;
    z-index: -1;
  }
  25% {
    background-color: #ff329b;
    transform: scale(0.8);
    z-index: -1;
  }
  50% {
    top: -6vh;
    z-index: 1;
  }
  75% {
    transform: scale(1.2);
    z-index: 1;
  }
  100% {
    top: 6vh;
    z-index: 1;
  }
}
@keyframes animDotBar {
  0% {
    height: 8.25vh;
  }
  25% {
    height: 0;
  }
  50% {
    height: 8.25vh;
  }
  75% {
    height: 0;
  }
  100% {
    height: 8.25vh;
  }
}
@keyframes superscript {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}